body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
  background: transparent;
  background-color: rgba(0, 0, 0, 0.932);
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}
